body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  height: 100%;
}

#background {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background: url("../../public/images/burgers_background.jpg"); */
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto;
  animation: animatedBackground 500s linear infinite;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 10000px;
  }
}

