/* TODO: use sass */
.big-button {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 20px;
}

.yellow-button {
  background-color: #ffcc00;
  color: white;
}

.yellow-button:hover {
  background-color: #fde481;
}

.underline-button {
  text-decoration: underline;
  background-color: transparent;
  color: black;
}

.underline-button:hover {
  color: #fbca06;
}
.small-button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 5px;
}
