.cart-page {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 100%;
    height: 75vh;
    overflow-y: auto;
  }
  
  .order-items {
    max-width: 50%;
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  
  
  .order-item-column {
    flex: 1;
  }
  
  #total-price {
    font-weight: bold;
    text-align: end;
  }
  