.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 2px solid #fdc300;
  z-index: 1000;
  display: none;
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.16);
  text-align: center;
}

.modal.visible {
  display: block;
}

.error{
  color: red;
}